OpenSwoole: Streamed response adds invalid "Transfer-Encoding: chunked" header

- Octane Version: `1.3.0` (current, see repro)
- Laravel Version: `9.26.1` (current, see repro)
- PHP Version: `8.1.2`
- Server & Version: Swoole / ~RoadRunner~ 4.10.0
- Database Driver & Version: -

### Description:
When using Octane with the swoole integration, streaming downloads from the filesystem don't work with certain software because an illegal header combination is added to the response; as per [RFC 2616, Section 4.4](https://www.rfc-editor.org/rfc/rfc2616.html#section-4.4), the `Content-Length` and `Transfer-Encoding` headers may not be used together:
> "Messages MUST NOT include both a Content-Length header field and a non-identity transfer-coding. If the message does include a non-identity transfer-coding, the Content-Length MUST be ignored."

The following code sample demonstrates the issue:
```php
Route::get('/download', static function (FilesystemManager $filesystem) {
    return $filesystem->disk('local')->download(
        'public/test.jpg',
        'test-download.jpg',
        ['Content-Type' => 'image/jpeg']
    );
});
```

This yields the following response:
```http
HTTP/1.1 200 OK
Cache-Control: no-cache, private
Connection: keep-alive
Content-Disposition: attachment; filename=test-download.jpg
Content-Length: 515879
Content-Type: image/jpeg
Date: Mon, 29 Aug 2022 15:04:05 GMT
Server: OpenSwoole 4.10.0
Set-Cookie: XSRF-TOKEN=(token here); expires=Mon, 29-Aug-2022 17:04:05 GMT; path=/; samesite=lax
Set-Cookie: laravel_session=(session key here); expires=Mon, 29-Aug-2022 17:04:05 GMT; path=/; httponly; samesite=lax
Transfer-Encoding: chunked

(binary content here)
```
As you can see, there's a `Content-Length`, and a `Transfer-Encoding: chunked` header in the response. This causes nginx to throw up, for example (log entry from production):
```log
f1nih 2022/08/29 09:17:39 [error] 32#32: *78 upstream sent "Content-Length" and "Transfer-Encoding"
headers at the same time while reading response header from upstream
```

The issue does _not_ occur with the RoadRunner server enabled. Also, this might be related to #109.

### Steps To Reproduce:

<!-- If possible, please provide a GitHub repository to demonstrate your issue -->
<!-- laravel new bug-report --github="--public" -->
See the reproduction repository:
[matchory/laravel-octane-bug-report-transfer-encoding](https://github.com/matchory/laravel-octane-bug-report-transfer-encoding)

0. Install dependencies using `composer install`
1. Start the server using `php artisan octane:start`
2. Perform a GET request on the `/download` endpoint, for example using cURL:
   ```bash
   curl -IX GET http://localhost:8000/download
   ```
3. Observe the response headers

As a temporary fix, I removed the `Content-Length` header by setting it to null:
```diff
Route::get('/download', static function (FilesystemManager $filesystem) {
    return $filesystem->disk('local')->download(
        'public/test.jpg',
        'test-download.jpg',
-        ['Content-Type' => 'image/jpeg']
+        ['Content-Type' => 'image/jpeg', 'Content-Length' => null]
    );
});
```
This precludes Laravel from setting its own `Content-Length` header, so the response won't contain any, and nginx doesn't complain. This makes it impossible to have download progress on client browsers, however, so this is merely a temporary workaround.

Taking a look at this next week.

It seems to be a bad behaviour of `Swoole\Http\Response::write(string $content)`  method, since `end(string $content)` method works as expected.

The following test sample using `write()` method to send content: 
```php
$http->on('Request', function (Request $request, Response $response) {
    $response->header('Content-Length', 5);
    $response->write('Hello');
    $response->end();
});
```
produces:
```
HTTP/1.1 200 OK
Content-Length: 5
Server: swoole-http-server
Connection: keep-alive
Content-Type: text/html
Date: Wed, 21 Sep 2022 15:47:19 GMT
Transfer-Encoding: chunked

Hello
```

while sending content in `end()` like:
```php
$http->on('Request', function (Request $request, Response $response) {
    $response->header('Content-Length', 5);
    $response->end('Hello');
});
```
does not include `Transfer-Encoding` header:
```
HTTP/1.1 200 OK
Content-Length: 5
Server: swoole-http-server
Connection: keep-alive
Content-Type: text/html
Date: Wed, 21 Sep 2022 15:49:46 GMT

Hello
```
